# Backend (deprecated)
backend/target
backend/skins
backend/Rocket.toml

# Backend
backend-warp/target

# Frontend
frontend/build
frontend/node_modules
frontend/.eslintcache

# Certifcates
*.pem
*.key
*.p7b
*.crt
